.container{
    max-width: 900px;
    margin:auto;
    padding:0 20px;
    text-align: left;
}
header{
            color:rgb(255, 255, 255);
            text-align: left;
            margin:20px;
            padding:10px;
        }

ul{
    list-style-type: none;
    margin:0;
    padding:0;
    overflow: hidden;
    
}

li{
    display:inline;
}

li a{
    color:white;
    text-align: center;
    padding:14px 16px;
    text-decoration: none;
}

li a:hover{
    color:rgb(207, 207, 25);
}

footer{
    color:white;
}

footer a{
    color:white;
    text-decoration: none;
}
footer a:hover{
    color:rgb(207, 207, 25);
}

.hero-section{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:20px;

}

.text{
    flex:1;
    padding-right: 20px;
}

.image{
    flex:1;
    text-align: right;
}


.image img{
    border-radius: 50%;
    filter:drop-shadow(14px 20px 50px rgba(74, 68, 68, 0.5));
    transition: transform 0.3s ease;
}